<div class="container">
  <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
<br />
<h1>Welcome to Toku-gram!!</h1>
<br />
<p>徳島県の名所、食べ物、イベント情報を検索し、<br />
実際に徳島県を見に行った感想を投稿し、<br />
全国や海外の方へ共有ができるコミュニティサイトになっております。</p>
  </div>
</div>