<br />
<h1 class="text-center">ターゲット</h1>

<br />
<p class="text-center">・旅行先をどこに行きたいか悩んでいる方</p>
<p class="text-center">・徳島県の方で今年の都道府県魅力度ランキングを上位にして、魅力を全国、海外の方に共有したいと考えている方</p>

<br />
<h1 class="text-center">目的</h1>

<br />
<p class="text-center">・徳島県の名所、食べ物、イベント情報を検索したい時</p>
<p class="text-center">・徳島県に行った方の投稿を見たい時</p>
<p class="text-center">・徳島県に実際に行ったときに徳島県の魅力を投稿したい時</p>
