<br />
<h2>All Users</h2>
<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>E-mail</th>
      <th></th>
    </tr>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td></td>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= link_to 'Delete', admin_user_path(user), method: :delete, deta: { confirm: 'Do you really want to delete this?' }, class: "btn btn-danger" %></td>
    </tr>
    <% end %>
  </tbody>
  </thead>
</table>
